doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/app/about.css")
    script const hasEmail = !{hasEmail}; const json = `!{json}`;

  body.grid-center.reveal
    main
      .title
        img(src="/images/logo-gradient-gloss.svg" class="logo")
        h1 photo<b>structure</b>
         span.tm ™
        h2 #{forFlavor}
      table.versions
        each v in versions
          tr
            td.dt= v.term
            if v.term == "Video support" && v.defn == "-"
              td.dd Tools are missing. <b><a target="_blank" href="https://photostructure.com/getting-started/video-support/">Learn more</a></b>.
            else
              td.dd= v.defn
        tr
          td.dt Health checks
          td.dd
            ul.healthchecks
              each fail in health.fail
                li.fail= fail
              each bad in health.bad
                li.fail= bad
              each warn in health.warn
                li.warn= warn
              each ok in health.ok
                li.ok= ok
        tr
          td.dt
          td <a href="#" onclick="navigator.clipboard.writeText(json)">copy to clipboard</a> or <a target="_blank" href="!{mailto}">email us</a>

      .emojis
        
        i.emj.handshake
        p 
          b Use of PhotoStructure is bound by the <a target="_blank" href="https://photostructure.com/legal/eula/">end-user license agreement</a>.
        
        i.emj.birthday
        p 
          a(target="_blank" href="https://photostructure.com/about/v-0-8/") What’s new in this release?

        i.emj.surf
        p Read our <a target="_blank" href="https://photostructure.com/tags/getting-started/">getting started guides</a> and <a target="_blank" href="https://photostructure.com/tags/faq/">FAQ</a>.

        i.emj.beetle
        p Found something odd, confusing, or buggy? Need help? <br> Please click the chat button or email us at <a href="mailto:support@photostructure.com">support@photostructure.com</a>, we’d love to hear from you.

        i.emj.crane
        p PhotoStructure is made possible by many <a target="_blank" href="https://photostructure.com/legal/3rd-party-licenses.txt">open source libraries and tools</a>.
          
        i.emj.heart
        p If you maintain or contribute to any of these projects, <b>thank you!</b> <a target="_blank" href="mailto:hello@photostructure.com?subject=Hi, I work on INSERT_YOUR_LIBRARY_NAME_HERE&body=Here's a link to my library: https://...%0D%0A%0D%0APlease send me a free personal license to PhotoStructure.%0D%0A%0D%0AThank you!">Send us an email</a> and we’ll set you up with a <b>free</b> personal license of PhotoStructure.</i> 
    
    if volumes
      .volumes
        h3 Volumes
        table
          tr
            th.mountpoint mount
            th.size size
            th.free free
            th.volsha <a href="https://photostructure.com/faq/what-is-a-volume" target="_blank">volume id</a>
            th.label label
          each vol in volumes
            tr
              td.mountpoint= vol.mountpoint
              td.size= vol.size
              if vol.full
                td.free.full(title="This disk is full")= vol.free
              else
                td.free= vol.free
              td.volsha= vol.volsha
              td.label= vol.label
              if vol.remote
                td.remote(class=vol.remote.ok ? "ok" : "notok")= vol.remote.share + "@" + vol.remote.host
  //- Add titles to all the anchor tags:
  script.
    document.querySelectorAll("a[target]").forEach(ea => 
      ea.setAttribute("title", `Click to open ${ea.getAttribute("href")} in a new window`)
    )

  include _chat.pug
