doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/app/about.css", nonce=nonce)

  body.grid-center.reveal
    main
      img.logo(src="/images/logo-horizontal.svg")

      .emojis
        if (subTier == "lite")
          i.emj.thinking
          p
            | You're using PhotoStructure <span class="#{ subTier }">#{ subTier }</span>.<br>
            | <b><a href="/plans/pick?then=/about">Learn more about PhotoStructure <span class="plus">plus</span></a></b>.<br>
            | If you're a current subscriber, <a href="/plans/activate?then=/about">log in to activate your license on this computer</a>.
        else
          i.emj.tada
          p
            b Thanks for being a <span class="#{ subTier }">#{ subTier }</span> subscriber!

          if (subTrial)
            i.emj.clock
            p Your free trial subscription ends in #{ subExpiresInDuration }. 

          else
            i.emj.calendar
            p Your <span class="#{ subTier }">#{ subTier }</span> subscription will end or renew in #{ subExpiresInDuration }.

          i.emj.bank
          p <b><a href="/plans/billing?then=/about">Manage your subscription and billing</a></b>.

        i.emj.birthday
        p
          a(href="https://photostructure.com/whats-new/") What’s new in this release?

        i.emj.surf
        p Read our <a href="https://photostructure.com/user-guide/">User Guide</a>.

        i.emj.beetle
        p Found something odd, confusing, or buggy? <br> Visit the <a href="https://photostructure.com/go/forum">forum</a> or <a href="https://photostructure.com/go/discord">discord</a> to get support and share feedback.</a>

        i.emj.crane
        p PhotoStructure is made possible by many <a href="https://photostructure.com/legal/3rd-party-licenses.txt">open source libraries and tools</a>.

        i.emj.handshake
        p
          b Use of PhotoStructure is bound by the <a href="https://photostructure.com/legal/eula/">end-user license agreement</a>, and other <a href="https://photostructure.com/legal/">terms and conditions</a>.

      h2 System information

      table.dict-entry-table
        each ea in systemInfo
          tr
            td.dt
              if ea.termURL
                a(href=ea.termURL, title=ea.defnTitle)= ea.term
              else
                | #{ ea.term }
            if Array.isArray(ea.defn)
              td
                table.metrics
                  each metric in ea.defn
                    tr
                      td.count= metric.count
                      td.desc= metric.desc
            else if ea.termURL
              td
                a.dd(href=ea.termURL, title=ea.defnTitle, class=ea.defnClass)= ea.defn
            else
              td.dd(class=ea.defnClass)= ea.defn

    if syncPaths
      .sync-paths
        h2 Sync information
        table
          tr
            th.path path
            th.status status
            th.last-started last started
            th.last-completed last completed
          each ea in syncPaths
            tr(class=ea.status, title=ea.status)
              td.path(
                class=ea.library ? "library icon" : "",
                title=ea.library ? "This is your library directory" : ""
              ) !{ ea.path }
              td.status.icon(class=ea.status)= ea.status
              td.last-started= ea.lastStarted
              td.last-completed= ea.lastCompleted
        .details.center Edit this in the <a href="/settings#scan-path-section">"Where else are your photos and videos?" settings section</a>.

    if volumes
      .volumes
        h2 Volume information
        table
          tr
            th.mountpoint mount
            th.size size
            th.free free
            th.volsha <a href="https://photostructure.com/faq/what-is-a-volume">volume id</a>
            th.label label
          each vol in volumes
            tr(class=vol.ok ? "notok" : "")
              td.mountpoint !{ vol.mountpoint }
              td.size= vol.size
              if vol.full
                td.free.full(title="This disk is full")= vol.free
              else
                td.free= vol.free
              td
                tt.volsha= vol.volsha
              td.label= vol.label
                if vol.remote
                  tt.unc= "//" + vol.remote.host + "/" + vol.remote.share

  script(src="/app/about.js", nonce=nonce)
  if (subTier != "lite")
    //- YAY THANK YOU
    script(src="/js/confetti.min.js", nonce=nonce)
