doctype html
html(lang="en")
  head
    meta(charset="utf-8")/
    title PhotoStructure
    meta(name="viewport", content="width=device-width,initial-scale=1")/
    link(rel="stylesheet", href="/app/app.css", nonce=nonce)/
    //- from https://realfavicongenerator.net
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")/
    //- https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html
    meta(name="apple-mobile-web-app-capable", content="yes")/
    meta(name="apple-mobile-web-app-title", content="PhotoStructure")/
    meta(name="apple-mobile-web-app-status-bar-style", content="black")/
    meta(name="apple-mobile-web-app-capable", content="yes")/
    meta(name="application-name", content="PhotoStructure")/
    if meta
      each ea in meta
        meta(property=ea.property, content=ea.content)/
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="/favicon-32x32.png"
    )/
    link(
      rel="icon",
      type="image/png",
      sizes="16x16",
      href="/favicon-16x16.png"
    )/
    link(rel="manifest", href="/site.webmanifest")/
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")/
    meta(name="msapplication-TileColor", content="#2d89ef")/
    meta(name="theme-color", content="#ffffff")/

  body#app(class=bodyClass)
    #mount

  script(src="/app/app.js", nonce=nonce)
