<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PhotoStructure health</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="/app/health.css<%= locals.cacheBuster ? '?_=' + locals.cacheBuster : '' %>"
      nonce="<%= locals.nonce %>"
    />
  </head>
  <body id="app" class="<%= locals.bodyClass ?? '' %>">
    <div id="mount"></div>
    <script
      type="module"
      src="/app/health.js<%= locals.cacheBuster ? '?_=' + locals.cacheBuster : '' %>"
      nonce="<%= locals.nonce %>"
    ></script>
  </body>
</html>
