doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title} - Settings
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/app/settings.css" nonce=nonce)

  body(class=bodyClass)#app
    header.bg-color-gradient
      .title
        img(class="logo" src="/images/logo-white.svg" title="PhotoStructure")
        img(class="mark" src="/images/photostructure-white.svg" title="PhotoStructure")

    main
      if err
        .error.sticky.message
          p= err

      .container
        form(class="mhauto" action="/settings" method="post")  
          unless (isVideoTranscodingSupported)
            .section
              #videoSupported.warn.message 
                p 
                  i.emj.movie-camera
                  b.fs22 Do you have videos?
                p
                  if (vlcInfo && vlcInfo.unsupportedVersion)
                    | VLC #{vlcInfo.unsupportedVersion} is not supported. 

                  | Before continuing, please 
                  a(href="https://photostructure.com/getting-started/video-support/") follow these steps. It’ll only take a minute.
                  //- we don’t have the "reload" button here so people (like Jim L) don’t lose their form entries.

          .section
            h2 Your PhotoStructure plan

            if (subTier != "lite")
              p.emjlist <i class="emj plus"></i>
                b Thanks for being a <span class="#{subTier}">#{subTier}</span> subscriber!
              
              if (subTrial)
                p.emjlist <i class="emj clock"></i> Your free trial subscription ends in #{subExpiresInDuration}. 
                
              else
                p.emjlist <i class="emj calendar"></i> Your <span class="#{subTier}">#{subTier}</span> subscription will end or renew in #{subExpiresInDuration}.
              
              p.emjlist <i class="emj bank"></i> For details, <b><a href="/plans/billing?then=/settings">visit the billing portal</a></b>.
              //- TODO: p <i class="emj ballot-box"></i> <span class="#{subTier}">#{subTier}</span> subscribers get more <a href="https://forum.photostructure.com/t/how-do-votes-work/207">votes in PhotoStructure's forum</a>: make sure you use them!
            else
              p.emjlist <i class="emj lite"></i> You're using PhotoStructure <span class="#{subTier}">#{subTier}</span>.
              p.emjlist <i class="emj thinking"></i> <b><a href="/plans/pick?then=/settings">Learn more about PhotoStructure <span class="plus">plus</span></a></b>.
              p.emjlist <i class="emj heart"></i> If you're a current subscriber, <a href="/plans/activate?then=/settings">log in to activate your license on this computer</a>.

              //- .relative
              //-   blockquote.andrew-lewis If you are not paying for it, you’re not the customer; <br> you’re the product being sold.
              //-     .cite – <a href="https://photostructure.com/faq/why-photostructure/#upfront-revenue-source">Andrew Lewis</a>
          .section
            if isDocker
              h2 Your PhotoStructure library
              if currentLibraryDir
                p
                  | Your library is 
                  tt#currentLibraryDir #{currentLibraryDir}
                  | . 
                p
                  a(href="https://photostructure.com/server/photostructure-for-docker/") Read more about Docker setup here.
              else
                p.error.message PS_LIBRARY_PATH must be set (probably to /ps/library), and exist. See 
                  a(href="https://photostructure.com/server/photostructure-for-docker/") the support site for instructions.
          
            else if welcome
              h2 Where would you like your PhotoStructure library stored?
              details
                summary.more-details(title="Click to toggle details")
                ul
                  li Your <a href="https://photostructure.com/faq/library/">PhotoStructure Library</a> holds 
                    ul.mt1em 
                      li a database of your photos and videos,
                      li web-safe previews of your images and videos, 
                      li and, if you enable automatic organization (see below), a copy of all your original photos and videos.
                  li This directory must have 
                    | <dfn tooltip="Digital photo sizes vary greatly between cameras. 1 Gigabyte stores several thousand pictures from a digital camera from 10 years ago, but only 20 pictures from a new high-end dSLR, and only 1 minute of 4K 60fps video.">lots of free space</dfn> 
                    | (<a href="https://photostructure.com/getting-started/how-much-disk-space-do-i-need-for-my-photostructure-library/">learn&nbsp;more</a>).
                  li This can be an existing directory.
                  li PhotoStructure always scans your library directory for photos and videos.
            else
              h2 Your PhotoStructure library
                p Your <a href="https://photostructure.com/faq/library/">PhotoStructure Library</a> is currently
                  tt#currentLibraryDir #{currentLibraryDir}

                p Changing your library location closes your current library and either creates or opens a library in your new directory. 
                  | Prior library contents will not be copied over unless you import your prior library directory.

            if !isDocker
              if suggestedLibraryDirs
                h3 Suggested library directories
                each ea, index in suggestedLibraryDirs
                  p
                  label(for="libraryDir" + index)
                    input(name="libraryDirRadio" type="radio" value=ea.path checked=(index == 0) id="libraryDir" + index)
                    .wbrpath !{ea.wbrPath}
                    if ea.isCurrentLibrary
                      .details This is your current PhotoStructure library.
                    else if ea.isLibrary
                      .details This is a PhotoStructure library.
                    .details (
                      if ea.label
                        | #{ea.label}, 
                      | #{ea.free} available
                      if ea.remote
                        | &nbsp;on #{ea.remoteShare}@#{ea.remoteHost}
                      | )

              else
                p.warning No drives were found on your computer with at least #{minFreeAvailable} free disk space.

              h3 Custom library directory
              label(for="libraryDirCustom" name="libraryDir").path-component
                input#libraryDirCustom(name="libraryDirRadio" type="radio" value="libraryDirCustom")

                input#libraryDirCustomInput.select-directory-path(
                  name="libraryDir"
                  type="text"
                  placeholder="Path to your library"
                  max=1024
                  value=libraryDir 
                )
                button.select-directory.btn-small.hidden.only-electron(
                  type="button"
                  data-title="Choose a directory to store your PhotoStructure library")
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/></svg> Select

          .section
            h2 Where else are your photos and videos?
            details
              summary.more-details(title="Click to toggle details")
              ul
                li PhotoStructure automatically ignores 
                  a(href="https://photostructure.com/faq/how-to-hide-directories/") hidden, system, application, and NoMedia directories.
                li PhotoStructure's imports are <em>additive</em>. Changing what paths are scanned will not remove assets already in your library. 
                li PhotoStructure always scans your library directory. 

            p
              label(for="scanAllDrives")
                input#scanAllDrives(name="scan" type="radio" value="scanAllDrives" checked=scanAllDrives)
                span.pill.green.mr1em automatic
                | Scan all directories
                |
                | on 
                dfn(tooltip="New drives, including digital camera memory cards and USB drives, will be scanned when you plug them in.") all drives
                |
                | for photos and videos
            p
              
            label(for="scanPath").path-component
              input#scanPath(name="scan" type="radio" value="scanPath" checked=!scanAllDrives)
              span.pill.purple.mr1em manual
              dfn(tooltip="Add as many paths as you want. PhotoStructure will scan them in this order. Your library directory is always scanned.") Scan these paths:
              p
                #scanPaths.input-container(
                  data-placeholder="Custom path to scan for photos and videos"
                  data-paths=jsonScanPaths
                )

              if !isDocker
                button.btn-small#scanMyPictures(
                  type="button"
                  title="Click to add " + picturesPath
                  data-path=picturesPath) 
                  | <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zM5 17l4.5-6 3.5 4.51 2.5-3.01L19 17z"/></svg>
                  | Add My Pictures directory
                button.btn-small.select-directory.hidden.only-electron(
                  type="button"
                  title="Click to add a directory to scan for photos and videos"
                  data-properties="openDirectory,createDirectory"
                  ) 
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 6h-8l-2-2H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-1 8h-3v3h-2v-3h-3v-2h3V9h2v3h3v2z"/></svg> Add


          .section
            h2 May PhotoStructure organize your photos and videos?
            details
              summary.more-details(title="Click to toggle details")
              p PhotoStructure can 
                | <a href="https://photostructure.com/getting-started/automatic-library-organization/">
                | copy the photos and videos it finds into your
                | PhotoStructure Library</a>. This is ideal if your photos
                | are scattered across several drives, you might have duplicates,
                | and you’d really like everything to be organized into 
                dfn(tooltip="Note that this drive needs to have enough free space to hold all your photos and videos. A Network Attached Storage (NAS) or large external hard drive with lots of free disk space are both good choices.") one, tidy place
                | .
              ul
                li PhotoStructure will 
                  | <dfn tooltip="The same photo or video will not be copied more than once into your library.">de-duplicate</dfn> 
                  | photos and videos automatically 
                  | (<a href="https://photostructure.com/faq/what-do-you-mean-by-dedupe/">learn&nbsp;more</a>).

                li Photos and videos already found in your library will remain in their current location

                li New photos and videos will be copied into
                  | 
                  dfn(tooltip="For example, photos taken today would be copied into " + samplePath + ".") date-stamped folders

              | If you don't have an active PhotoStructure <span class="plus">plus</span> subscription:
              
              ul
                li this setting is ignored: PhotoStructure won't copy new files into your library. 
                li Existing files in your library will remain in their current location.

            p
              label(for="copyEnabled")
                input#copyEnabled(name="copyAssets" type="radio" value="copyEnabled" checked=(copyAssets || welcome))
                i.emj.thumbs-up
                | Yes, please copy my photos and videos into my PhotoStructure Library.
                span.pill.plus(title="This feature is only available to PhotoStructure plus subscribers") plus&nbsp;only

            p
              label(for="copyDisabled")
                input#copyDisabled(name="copyAssets" type="radio" value="copyDisabled" checked=(!copyAssets && !welcome))
                i.emj.thumbs-down
                | No thanks, I like my photos and videos where they already are. <br>
                


          .section

            h2 Error reporting
            p PhotoStructure's error reports help us detect, triage, and fix issues (<a href="https://photostructure.com/faq/error-reports/">learn more</a>).
            
            p
              label
                input#reportErrorsYes(name="reportErrors" type="radio" value="true" checked=(reportErrors))
                i.emj.thumbs-up
                | Yes, PhotoStructure may report unexpected errors.

            p
              label
                input#reportErrorsNo(name="reportErrors" type="radio" value="false" checked=(!reportErrors))
                i.emj.thumbs-down
                | No thanks, do not send any error reports.
            

          .section
            h2 PhotoStructure license
            
            details(open=welcome)
              summary.more-details(title="Click to toggle details")
              .eula
                include eula.html
            p
              b By clicking Start you agree to all terms of this license.

          .buttons.section(class={stickybottom: !welcome})
            unless welcome
              a.btn.cancel(href="/" title="Don't save any changes made on this page and return home") Cancel

            button.btn(type="submit" name="action" title="Accept the EULA and save settings") #{welcome ? "Start" : "Save"}

              
    .modal.hidden
      .scrim
      .message
        h3 Saving...
        .details (this may take a minute)
        .loader
          svg.circular(viewBox="25 25 50 50")
            circle.path(cx="50" cy="50" r="20" fill="none" stroke-width="6")

    script(src="/app/settings.js" nonce=nonce)
    if (subTier != "lite" && !subTrial)
      //- YAY THANK YOU
      script(src="/js/confetti.min.js" nonce=nonce)
      
